<%- contentFor( 'body') %>

    <div>
        <% let linkRemove="/cadastro/remove/"; %>
        <% let linkUpdate="/cadastro/update/"; %>
        <% let linkAdd="/cadastro/add/"; %>
            
        <div class="jumbotron text-center">
        <h1>Cadastro</h1>
        <p>Cadastre suas produções apertando no botão "Cadastrar Nova Tira". Edite os seus dados em Tiras Cadastradas e veja a listagem total de hqs em Listagem de Tiras.</p>
        </div>
        
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Cadastrar Nova Tira
          </button>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Cadastrar Nova Tira</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form name="cadastro" action="#">
                    <div class="form-group">
                        <label for="_ntira">Número de Tiragem:</label>
                        <input type="number" name="_ntira" id="_ntira" required placeholder="Número da tira" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="_keyword">Palavra Chave:</label>
                        <input type="text" name="_keyword" id="_keyword" required placeholder="Palavra Chave" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="_prota">Protagonista:</label>
                        <input type="text" name="_prota" id="_prota" required placeholder="Protagonista" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="_date">Data de Produção:</label>
                        <input type="month" name="_date" id="_date" required placeholder="Data de produção" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="_publi">Publicada?</label>
                        <input type="checkbox" name="_publi" id="_publi" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="button" onclick="add(document.cadastro,'<%=linkAdd%>')" value="Enviar"  class="btn btn-success">
                    </div>
                </form>
            </div>
          </div>
        </div>
          </div>
        
        
        <!-- Tabela de Tiras Cadastradas -->
        <div class="conteudo-cadastro">
            <div class="table-responsive-xl ">
                <h2>Tirinhas Cadastradas</h2>
                <p>Lista de Tirinhas Cadastradas no Sistema.</p>
                <table name="table-geral" class="table table-hover bg-light" id="list">
                    <thead class="thead-dark">
                    <tr>
                        <th>Número de Tiragem</th>
                        <th>Palavra Chave</th>
                        <th>Protagonista</th>
                        <th>Data de Produção</th>
                        <th>Publicada?</th>
                        <th>Editar</th>               
                        <th>Remover</th>
                    </tr>
                    </thead>
        
                        <% if(users.length >0){%>
                            <% for(let index=0;index<users.length;index++){ %>
                                <tr data-index-row="<%= index %>">
        
                                <td data-index-row="<%=index%>">
                                    <span  class="show"><%= users[index].ntira %></span>
                                    <input type="text" name="ntira"  class="hidden" value="<%= users[index].ntira %>">
                                </td>
                                <td data-index-row="<%=index%>">
                                    <span  class="show"><%= users[index].keyword %></span>
                                    <input type="text" name="keyword"  class="hidden" value="<%= users[index].keyword %>">
                                </td>
                                <td data-index-row="<%=index%>">
                                    <span  class="show"><%= users[index].prota %></span>
                                    <input type="text" name="prota"  class="hidden" value="<%= users[index].prota %>">
                                </td>
                                <td data-index-row="<%=index%>">
                                    <span  class="show"><%= users[index].date %></span>
                                    <input type="number" name="date"  min="1" max="100" step="1" class="hidden" value="<%= users[index].date %>">
        
                                </td>
        
                                <td data-index-row="<%=index%>">
                                    <span  class="show"><%= users[index].publi %></span>
                                    <input type="checkbox" name="publi" class="hidden" value="<%= users[index].publi %>">
                                </td>
                                <td data-index-row="<%=index%>" class="hidden" data-index-row="<%=index%>">
                                    <input type="button" value="Atualizar" class="hidden" >
                                </td>
        
                                <!-- a funcao update()  foi criada no arquivo script.js presente no diretorio public. Ela fará a modificação dos itens e envio dos dados na forma de uma string para o servidor usando como rta /cadastro/update/ -->
                                <td  data-index-row="<%= index %>">
                                    <a href="#" onclick="update('<%=index%>','<%= linkUpdate %>')" class="show"><i class="fas fa-pen"></i></a>
                                </td>
        
                                <!-- para passar parametros para uma rota criada basta usar o delimitador "/" entre os valores dos parametros e defini-los no arquivo de rotas usando ":" para separar cada valor, seguido de um nome que identificarar esse valor. Exemplo: /cadastro/remove/:id -->
                                <td  data-index-row="<%= index %>">
                                    <!-- <a href="#" class="show" onclick="remove('<%=index %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a> -->
                                    <a href="#" class="show" onclick="remove('<%=index %>','<%=users[index].ntira %>','<%=linkRemove%>')"><i class="fas fa-trash-alt"></i></a>
                                </td>
        
                                </tr>
                                <% } //for %>
                                <% }else{%>
                                    <tr><td colspan="7"><p class="bg-info text-white">Nenhum dado cadastrado</p></td></tr>
                    
                                <%} //If-Else %>
                        </table>
                        <br>
                        <hr>
                        <br>
                        <!-- Nova tabela criada ao fim da página, será usada para listagem de usuários! -->
                        <div class="table-responsive-xl  largura">
                            <h2>Lista de Usuários</h2>
                            <p>Lista de usuários Cadastrados no sistema.</p>
                            <table class="table table-hover bg-light" id="list-users">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Número de Tiragem</th>
                                    <th>Palavra Chave</th>
                                    <th>Protagonista</th>
                                    <th>Data de Produção</th>
                                    <th>Publicada?</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                